
html {
  height: 100%;
  width: 100%;
}
body{
background:#7a7a6d;
}

.debut_texte{
font-weight: bold;
}

#license{
position:absolute;
}

h1{
margin-top:10px;
text-align:center;	
color:#1D2326;
	font-size:300%;
}

.titre_souligne{
text-decoration: underline;
text-decoration-color: #FCFFF5;
}




h2{
text-align:center;	
color:#1D2326;	
margin-top:2%;
font-size:30px;
}


fieldset {
border:2px solid ;	
 border-radius:8px;	
color:#1D2326;	
margin-top:10px;
margin-left:20px;
margin-right:20px;
padding-left:10px;
background-color:#958976;
}

legend {
font-size:25px;
color:black;
margin-bottom:5px;
margin-left:55px;
font-weight:bold;
}



.lien-bouton{
   color:#1D2326;
   font-family:verdana;
   font-size:18px;
   padding:5px 20px;
   text-decoration:none;
   border:solid 1px #1D2326;
   border-radius:5px;
   margin-top:30px;
}
.lien-bouton:hover{
   border:solid 1px #FCFFF5;
} 
 #Programme{
margin-left : 30%;
margin-right : 30%;
padding-top: 20px;
border:solid 4px #FCFFF5;
padding-bottom: 20px;
text-align:center;
color:#1D2326;
 border-radius:8px;	
 background-color:#958976;
 }
 
 #titre {
font-family:verdana;
color:#1D2326;
font-size:20px; 	 
 }

 footer {
margin-bottom:2%;
position:relative; 
bottom: 0; 
left: 0; 
right: 0;
}

.texte {
padding-right:10px;
padding-bottom:10px;
 font-size:21px; 
}

#Suivant {
background: #958976;
border-radius: 10px;
color: #1D2326;
font: 100% Georgia, "Calibri", Times, serif;
letter-spacing: 1px;
margin-top :5px;
padding: 7px 25px;
text-shadow: 0 1px 1px #000000;
text-transform: uppercase;
cursor: pointer;
position: relative;	
}